.component-container {
  margin-bottom: 12px;
  cursor: pointer;
  background-color: #f7f7f7;
  border: 1px solid #f7f7f7;
  padding: 12px;
  border-radius: 3px;

  &:hover {
    border-color: #d9d9d9;
  }
}
