body {
  margin: 0;
  padding: 0;
}

div {
  box-sizing: border-box;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

// 设置滚动条样式
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
  background-color: #fff;
}

::-webkit-scrollbar-thumb {
  background-color: #eee;
  border-radius: 15px;
}
