.home-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  background-image: linear-gradient(to right, #4facfe 0%, #00f2fe 100%);
  .home-title {
    font-weight: 700;
    font-size: 35px;
  }
}
